:host {
  display: block;
  background: linear-gradient(135deg, #fff4d7 0%, #ffffff 100%);
  min-height: 100vh;
}

.card {
  background: linear-gradient(135deg, #ffffff 0%, #fff7e3 100%);
  border-style: none;
}